<div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">EduLearn</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse gap-3" id="navbarSupportedContent">
        <a
          class="nav-link text-secondary"
          role="button"
          aria-expanded="false"
          routerLink="practical-page"
        >
          Practicals
        </a>
        <a class="nav-link text-secondary" role="button" routerLink="collaborators">
          Collaborators
        </a>
      </div>
      <form class="d-flex" role="search">
        <input
          [(ngModel)]="searchQuery"
          name="searchQuery"
          class="form-control me-2 w-100"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (input)="filterResults()"
        />
      </form>
      
    </div>
  </nav>
</div>
